services:
  ros2-robotic-arm:
    image: ros2-robotic-arm
    network_mode: host
    ipc: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/.docker.xauth
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth:rw
      - .:/ros2_robotic_arm  # Make sure you add this to see your code!
    devices:
      - /dev/dri:/dev/dri
    stdin_open: true
    tty: true