<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ar4_fake">
  <xacro:arg name="include_gripper" default="true"/>

  <xacro:arg name="tf_prefix" default="" />

  <xacro:include filename="$(find robotic_arm_moveit_config)/srdf/ar_macro.srdf.xacro"/>
  <xacro:ar_srdf tf_prefix="$(arg tf_prefix)"/>

  <xacro:if value="$(arg include_gripper)">
    <xacro:include filename="$(find robotic_arm_moveit_config)/srdf/ar_gripper_macro.srdf.xacro"/>
    <xacro:ar_gripper_srdf tf_prefix="$(arg tf_prefix)"/>
  </xacro:if>

</robot>
